@page "/about" 

<h1>About the Demo</h1>

<p>
    This is a Blazor WebAssembly application hosted on GitHub Pages. It uses <a href="https://github.com/Blazorade/Blazorade-MSAL" target="blazorade-msal">Blazorade MSAL</a>
    for user authentication and access token acquisition.
</p>
<p>
    The purpose of the application is to demonstrate the features of <a href="https://github.com/Blazorade/Blazorade-MSAL" target="blazorade-msal">Blazorade MSAL</a> running
    in an application hosted as a static website without any server backend functionality.
</p>